[Unit]
Description=Biome
After=local-fs.target

[Service]
Type=idle
ExecStart=/home/pisound/biome
EnvironmentFile=/home/pisound/.env
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=local-fs.target
